<!DOCTYPE html>
<html>
<head>
	<title>曹继德的个人blog</title>
	<link rel="stylesheet" type="text/css" href="../dat/index.css">
	<link rel="stylesheet" type="text/css" href="../dat/dat.gui.css">
	<style>
		.item{
		    width: 80%;
		    height: 200px;
		    margin: auto;
		    background: #fff;
		    z-index: 9999;
		}
	</style>
</head>
<body>
	<div style="position: absolute;"><canvas id="c"></canvas></div>
</body>
<script type="text/javascript" src="../dat/dat.gui.js"></script> 
 <script type="text/javascript" src="../js/index.js"></script>
</html>